body {
  background-color: #f2f2f2;
  color: #261c1a;
}
a.uk-logo h1 {
  color: #bf9b7a;
}
main h1 {
  padding: 0.2em 0.3em;
  background: linear-gradient(#8c675a, #59433e);
  color: #f2f2f2;
  border-radius: 6px;
}
h2 {
  position: relative;
  padding: 0.75em 1em 0.75em 1.5em;
  /* border: 1px solid #ccc; */
}
h2::after {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  content: '';
  width: 6px;
  height: -webkit-calc(100% - 1em);
  height: calc(100% - 1em);
  background-color: #bf9b7a;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  word-wrap: break-word;
}

table th:first-child {
  border-radius: 5px 0 0 0;
}

table th:last-child {
  border-radius: 0 5px 0 0;
  border-right: 1px solid #a8b7c5;
}
table th:not(:last-child) {
  width: 10%;
}
table th {
  text-align: center;
  color: white;
  background: linear-gradient(#8c675a, #59433e);
  border-left: 1px solid #a8b7c5;
  border-top: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
  width: 25%;
  padding: 10px 0;
}

table td {
  text-align: left;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top: none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: 25%;
  padding: 10px 10px;
}

table td:last-child {
  border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}
blockquote {
  padding: 0.5em 1em;
  margin: 2em 0;
  border-left: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  font-size: 1rem;
}
blockquote p {
  margin: 0;
  padding: 0;
}

/* Color Theme Swatches in Hex 
.dark-wood-planks-background--1-hex { color: #F2F2F2; }
.dark-wood-planks-background--2-hex { color: #BF9B7A; }
.dark-wood-planks-background--3-hex { color: #8C675A; }
.dark-wood-planks-background--4-hex { color: #261C1A; }
.dark-wood-planks-background--5-hex { color: #59433E; }

  Color Theme Swatches in RGBA
.dark-wood-planks-background--1-rgba { color: rgba(242, 242, 242, 1); }
.dark-wood-planks-background--2-rgba { color: rgba(191, 154, 122, 1); }
.dark-wood-planks-background--3-rgba { color: rgba(140, 103, 89, 1); }
.dark-wood-planks-background--4-rgba { color: rgba(38, 27, 25, 1); }
.dark-wood-planks-background--5-rgba { color: rgba(89, 66, 61, 1); }

  Color Theme Swatches in HSLA
.dark-wood-planks-background--1-hsla { color: hsla(0, 0, 95, 1); }
.dark-wood-planks-background--2-hsla { color: hsla(28, 35, 61, 1); }
.dark-wood-planks-background--3-hsla { color: hsla(16, 21, 45, 1); }
.dark-wood-planks-background--4-hsla { color: hsla(11, 19, 12, 1); }
.dark-wood-planks-background--5-hsla { color: hsla(11, 18, 29, 1); }
*/
